:root {
  --color-background-default: #f4f6f8;
  --color-arrow-default: #343a40;
  --color-background-selected: #e5e8fd;
  --color-arrow-selected: #253cf2;
}

html,
body {
  height: 100%;
  margin: 0;
}

.mr-10 {
  margin-right: 10px;
}
.arrow {
  font-size: 15px;
  padding: 0 15px;
}

.arrow-container {
  cursor: pointer;
  border-radius: 5px;
}

.upvote-default {
  background-color: var(--color-background-default);
  color: var(--color-arrow-default);
  border: 1px solid var(--color-arrow-default);
}

.upvote-selected {
  background-color: var(--color-background-selected);
  color: var(--color-arrow-selected);
  border: 1px solid var(--color-arrow-selected);
}

.arrow-default {
  fill: var(--color-arrow-default);
}

.arrow-selected {
  fill: var(--color-arrow-selected);
}

.btn-add {
  cursor: pointer;
}

.list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--color-background-selected);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.upvotes-container {
  display: flex;
}

.btn-container {
  display: flex;
}
